<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title th:text="${m.brand_name+'_'+m.version_name+m.type_name+' '+m.price+'万'+m.p_name+m.c_name+' 挖友圈'}">挖掘机</title>
<link rel="stylesheet" th:href="@{/assets/css/mobile/style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/mobile/basic.css}" />
<script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
</head>

<body>
	<div class="webPage">
	
    	<header class="header">
        	<a href="javascript:location.href = document.referrer" class="fl ml10"><img src="/newexcavator/assets/images/left.jpg" width="11" /></a>
        	<a th:href="@{/mobile/index}" class="fl ml20"><img src="/newexcavator/assets/images/home.png" width="20" /></a>
            <h4>挖友圈</h4>
            <a th:href="@{/mobile/person}" class="fr mr10"><img src="/newexcavator/assets/images/header_r.png" width="20" /></a>
        </header>
        <section>
            <div class="place">
            	<ul>
                    <li><a th:href="@{/mobile/index}">挖友圈</a></li>
                    <li>&gt;</li>
                    <li><a th:text="${m.type_name}" th:href="${'list?type='+m.m_type}">大型挖掘机</a></li>
                    <li>&gt;</li>
                    <li th:text="${m.p_name+m.c_name+'&nbsp;'+m.brand_name+'_'+m.version_name}">挖掘机型号</li>
                </ul>
                <div class="clr"></div>
            </div>
            <div class="main">
            	<table class="detailTable">
                	<tr>
                    	<th width="45%">工作小时数(h)：</th>
                        <td width="45%" th:text="${m.used_time}">8000</td>
                        
                    </tr>
                    <tr>
                    	<th>原始发票：</th>
                        <td th:text="${m.receipt==1?'有':'无'}">无</td>
                    </tr>
                    <tr>
                    	<th>原车用途：</th>
                    	<td th:if="${m.use==0}">自用设备</td>
                        <td th:if="${m.use==1}">租赁设备</td>
                        <td th:if="${m.use==2}">用途不确定</td>
                        <td th:if="${m.use==3}">厂家测试机</td>
                        
                    </tr>
                   <!--  <tr>
                    	<th class="solid">生产日期：</th>
                        <td class="solid" th:text="${#dates.format(m.production_date, 'yyyy年MM月dd日 ')}">2009-05-01</td>
                    </tr> -->
                    <tr>
                    	<th class="solid">购买日期：</th>
                        <td class="solid" th:text="${m.buy_date==null?'未知':#dates.format(m.buy_date, 'yyyy年MM月dd日 ')}">2009-05-01</td>
                    </tr>
                    <tr>
                    	<th class="solid">发布日期：</th>
                        <td class="solid" th:text="${#dates.format(m.create_time, 'yyyy年MM月dd日  HH:mm:ss')}">2009-05-01</td>
                    </tr>
                    <tr>
                    	<th class="solid">合格证：</th>
                        <td class="solid" th:if="${m.qualified==1?'有':'无'}">无</td>
                        
                    </tr>
                    <!-- <tr>
                    	<th class="solid">有无改装：</th>
                        <td class="solid" th:if="${m.modified==0}">部分做过漆</td>
                        <td class="solid" th:if="${m.modified==1}">全部做过漆</td>
                        <td class="solid" th:if="${m.modified==2}">原车漆</td>
                    </tr> -->
                   <!--  <tr>
                    	<th class="solid">车辆来源：</th>
                        <td class="solid" th:if="${m.imported==0}">国产机</td>
                        <td class="solid" th:if="${m.imported==1}">进口机</td>
                        <td class="solid" th:if="${m.imported==2}">其他</td>
                    </tr> -->
                    <!-- <tr>
                    	<th class="solid">有无大修：</th>
                        <td class="solid" th:if="${m.fixed==1?'有':'无'}">无</td>
                    </tr> -->
                    <tr>
                    	<th class="solid">车况：</th>
                        <td class="solid" th:if="${m.old_level==0}">较好</td>
                        <td class="solid" th:if="${m.old_level==1}">类似新车</td>
                        <td class="solid" th:if="${m.old_level==2}">一般</td>
                        <td class="solid" th:if="${m.old_level==3}">良好</td>
                    </tr>
                    <tr>
                    	<th class="solid">当前状态：</th>
                        <td class="solid" th:if="${m.current_status==0}">停用待售</td>
                        <td class="solid" th:if="${m.current_status==1}">正在施工</td>
                        <td class="solid" th:if="${m.current_status==2}">不清楚</td>
                    </tr>
                    <tr>
                    	<th class="solid">序列号：</th>
                        <td class="solid" th:text="${m.code_no}">8000</td>
                        
                    </tr>
                    <tr>
                    	<th class="solid">产品报价：</th>
                        <td class="solid" th:text="${m.price+'万'}"></td>
                    </tr>
                    <tr>
                    	<th class="solid">机主描述：</th>
                    	<td class="solid" colspan="2" th:text="${m.description}">新车</td>
                    </tr>
                    <tr th:if="${type=='own'}">
                    	<th class="solid">当前状态：</th>
                    	<td class="solid" th:if="${m.verify==0}">待审核</td>
                    	<td class="solid" th:if="${m.verify==1}">审核通过</td>
                    	<td class="solid" th:if="${m.verify==2}">审核不通过</td>
                    </tr>
                    <tr th:if="${m.verify==1}">
                    	<th class="solid">上架状态：</th>
                    	<td class="solid" th:if="${m.close==0}">上架</td>
                    	<td class="solid" th:if="${m.close==1}">下架</td>
                    	<td class="solid" th:if="${m.close==2}">已出售</td>
                    </tr>
                    <!-- <tr th:if="${type=='own' and m.verify==1 and m.close!=2}">
                    	<th class="solid">改变上架状态：</th>
                    	<td class="solid">
                    		<select name="change_close">
                    			<option th:if="${m.close!=0}" value="0">上架</option>
                    			<option th:if="${m.close!=1}" value="1">下架</option>
                    			<option value="2">已出售</option>
                    		</select>
                    		<input type="button" id="change_close_button" value="改变状态"/>
                    	</td>
                    </tr> -->
                </table>
                <div class="picture">
                	<img th:each="mpic:${m.mp}" class="pictureimg"  th:src="@{'/img/'+${#strings.replace(mpic.path,'.','_S.')}}"/>
                	<div th:if="${adv!=null}" style="margin-top:50px">
                	<div style="text-align:center;margin:5px 20px auto;width:90%">
                		<label th:text="${adv.description}" ></label>
                	</div>
                	<a target="_blank" th:href="${#strings.isEmpty(adv.img_url)?'javascript:void(0)':#strings.startsWith(adv.img_url,'http:')? adv.img_url:'http://' + adv.img_url}">
                		<img class="pictureimg" th:src="@{${'/img/'+adv.img_path}}" />
                	</a>
                	</div>
                </div>
                
            </div>
        </section>
        <footer class="tel">
        	<div class="telLeft">
        		<label th:text="${m.link_name}" style="float:left;">赵先生(个人)</label>
        		<div style="float:left;" th:text="${m.phone+'('+m.p_name+'&nbsp;&nbsp;'+m.c_name+')'}">4008167360(江苏&nbsp;&nbsp;徐州)</div>
        		<div class="clr"></div>
        	</div>
        	<a class="telRight" th:href="${'tel:'+m.phone}">拨打电话</a>
        	<div class="clr"></div>
        </footer>
        <footer style="margin-bottom:100px">
        	<div class="copyRight">
            	&copy;2015 挖友圈 版权信息
            </div>
            <div class="copyRight">
            	备案号:蜀ICP备13012136号-10
            </div>
            <div class="copyRight">
            	<script src="http://s95.cnzz.com/stat.php?id=1255170654&amp;web_id=1255170654" language="JavaScript"></script>
            </div>
        </footer>
    </div>
    <!-- <div class="blackBg"></div>
    <img class="bigImg" id="bigImg" src="" /> -->
    <!--< div class="bigPicBg"></div>
	<div class="bigPicBox">
			<div class="closeTop">
				<span id="closeSpan">&times;</span>
				<div class="clr"></div>
			</div>
			<img class="bigPic" id="bigPic" />
	</div> -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
   var si = [[${sign}]];

 wx.config({
	debug: false,
	appId: 'wx0f60a8adb6eeb889',
	timestamp: si.timestamp,
	nonceStr: si.nonceStr,
	signature: si.signature,
	jsApiList: [
		'onMenuShareTimeline',
		'onMenuShareAppMessage'
	  ]
});

wx.ready(function () {
	wx.hideMenuItems({
	    menuList: ["menuItem:share:qq",
	               "menuItem:share:weiboApp",
	               "menuItem:share:facebook",
	               "menuItem:share:QZone"
	               ] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
	});
	var shareData = {
			title: [[${m.brand_name+'_'+m.version_name+m.type_name+' '+m.price+'万'+m.p_name+m.c_name+' 挖友圈'}]],
			desc: '我们每日提供最新二手挖掘机信息',
			link: 'http://app.wayouquan.com/newexcavator/mobile/detail?id='+[[${m.id}]],
			imgUrl: 'http://app.wayouquan.com/newexcavator/assets/images/wyqLogo.png',
		success: function () { 
			// 用户确认分享后执行的回调函数
			window.location.href="detail_share?user_id="+[[${m.user_id}]];
		},
		      fail: function (res) {
		        alert(JSON.stringify(res));
		      }
	};
	wx.onMenuShareTimeline(shareData);
	wx.onMenuShareAppMessage(shareData);
});

wx.error(function (res) {
  //alert(res.errMsg);
});
        
           
           
	

	
	/*]]>*/
</script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
     if([[${change}]]!=null && [[${change}]]==1){
    	 alert("修改成功");
     }     
     $(".header h4").css("margin-left",($(".header").width()-163)/2+"px");
    /*  $("img.pictureimg").click(function(){
    	 $(".blackBg").css("display","block");
    	 $(".bigImg").css("display","block");
    	 $(".bigImg").attr("src",$(this).attr("src"));
     }); */
     
   /* //点击显示大图
 	$('img.pictureimg').each(function(index){
 		$(this).click(function(){
 			var winH = document.body.scrollHeight;
 			var winS = document.body.scrollTop;
 			var winW = $(window).width();
 			var picW = $(this).width();
 			var picLeft = winW-picW>0?(winW-picW)/2:0;
 			alert(picLeft);
 			alert(winW);
 			alert(picW);
 			$('.bigPicBox').css({'left':picLeft,'top':'40px'});
 			$('.bigPicBox').fadeIn();
 			$('.bigPicBg').fadeIn();
 			$('.bigPicBg').css({'height':winH+'px','width':winW+'px'});
 			var bigSrc = $(this).attr('src');
 			$('#bigPic').attr('src',bigSrc);
 		})
 	})
 	$('#closeSpan').click(function(){
 		$('.bigPicBg,.bigPicBox').fadeOut();
 	}) */
    /*  $(document).ready(function(){
    	 $("#change_close_button").click(function(){
    		if(confirm("是否确认更改?")){ 
    	 	window.location.href='change_close?id='+[[${m.id}]]+'&close='+$("select[name=change_close]").val();
    		}
    	 });
     });   */    
           
     /* var winW = $(window).width();
     var winH = $(window).height();
	 $('.picture img').each(function(){
		 $(this).click(function(){
			 $(".blackBg").fadeIn();
			 $(".blackBg").css({"height":winH+'px'});
			 var imgSrc = $(this).attr("src");
			 $("#bigImg").attr("src",imgSrc);
			 $("#bigImg").fadeIn();
			 console.log($("#bigImg").is(":visible"));
			 $(".bigImg").css("width",winW+'px');
			 //$(this).removeClass("pictureimg");
			 //$(this).addClass("pictureimgA");
		 })
		 $("#bigImg").click(function(){
		 	$(".blackBg").fadeOut();
		 	$("#bigImg").fadeOut();
		 	//$('.picture img').eq(index).removeClass("pictureimgA");
		 	//$('.picture img').eq(index).addClass("pictureimg");
	 	})
	 }) */
	 
           
/*]]>*/
</script>
</body>
</html>
