<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>挖掘机</title>
<link rel="stylesheet" th:href="@{/assets/css/mobile/style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/mobile/basic.css}" />
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
</head>

<body style="background:#f3f3f3;">
	<div class="webPage">
    	<header class="header">
        	<a href="javascript:location.href = document.referrer" class="fl ml10"><img src="../assets/images/left.jpg" width="11" /></a>
            <a th:href="@{/mobile/index}" class="fl ml20"><img src="../assets/images/home.png" width="20" /></a>
            <h4 style="margin-left:30%">挖友圈</h4>
            <a th:href="@{/mobile/person}" class="fr mr10"><img src="../assets/images/header_r.png" width="20" /></a>
        </header>
        <form id="searchForm">
        <input type="hidden" name="search_name" value="${search_name}"/>
        <section>
            <div class="place">
            	<ul>
                	<li><a href="#">挖友圈</a></li>
                    <li>&gt;</li>
                    <li th:text="${search_name}"></li>
                </ul>
                <div class="clr"></div>
            </div>
            <div class="main">
            	<ul class="listMain">
                    <li th:each="m,status:${ms}">
                    	<a th:href="@{'/mobile/detail?id='+${m.id}+'#mp.weixin.qq.com'}">
                    	<img width="150px" th:src="@{'/img/'+${#strings.replace(m.cover_path,'.','_S.')}}"/>
                        <div class="listR">
                        	<h4 th:text="${m.brand_name+'_'+m.version_name}">挖掘机名称</h4>
                            <div class="timeDiv">
                            	<span class="time" th:text="${m.used_time}">8000</span>
                                <span class="timeD">小时</span>
                                <span class="price" th:text="${m.price}">15</span>
                                <span class="priceD">万</span>
                                <div class="clr"></div>
                            </div>
                            <div class="comPrice">
                            	<span th:text="${m.p_name}">山东</span>
                                <span th:text="${m.c_name}">东营市</span>
                            </div>
                        </div>
                        <div class="fr" style="padding:5px;">
                        	<span class="time" th:text="${#dates.format(m.create_time, 'yyyy年MM月dd日  HH:mm')+'发布'}">8000</span>
                        </div>
                        <div class="clr"></div>
                        </a>
                    </li>
                </ul>
                <!-- <div class="page">
                	<a href="#">上一页</a>
                    <a href="#">下一页</a>
                </div> -->
                <div class="page" th:if="${ms!=null and not #lists.isEmpty(ms)}" th:include="fragment/paginationbar :: paginationbar"></div>
            </div>
        </section>
        </form>
        
        <footer>
        	<div class="copyRight">
            	&copy;2015 挖友圈 版权信息
            </div>
            <div class="copyRight">
            	备案号:蜀ICP备13012136号-10
            </div>
            <div class="copyRight">
            	<script src="http://s95.cnzz.com/stat.php?id=1255170654&amp;web_id=1255170654" language="JavaScript"></script>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript">
$(".header h4").css("margin-left",($(".header").width()-163)/2+"px");
	$('.navLi li').each(function(index) {
		$(this).click(function(){
			//console.log(11);
			$('.liTable').hide();
        	$('.liTable').eq(index).show();
			$('.navLi li').removeClass('navLiliA');
			$('.navLi li').addClass("navLili");
			$(this).addClass('navLiliA');
			$('.navLi li a').removeClass("navLiliaA");
			$('.navLi li a').addClass("navLilia");
			$(this).find("a").removeClass("navLilia");
			$(this).find("a").addClass("navLiliaA");
			//$(this).find('a').addClass("navLiliaA");
		})
    }); 
</script>
</html>
