<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>挖掘机</title>
<link rel="stylesheet" th:href="@{/assets/css/mobile/style.css}" />
<link rel="stylesheet" th:href="@{/assets/css/mobile/basic.css}" />
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
</head>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
     if([[${change}]]!=null && [[${change}]]==1){
    	 alert("修改成功");
     }     
     $(document).ready(function(){
    	 $(".header h4").css("margin-left",($(".header").width()-163)/2+"px");
    	 $(".closeBut").click(function(){
    		
    		if(confirm("是否确认更改?")){ 
    			var id = parseInt($(this).attr("id").split("_")[1]);
    			var close = parseInt($(this).attr("id").split("_")[2]);
    			window.location.href='change_per_close?id='+id+'&close='+(close+1)%2; 
    			return false;
    	 	//window.location.href='change_close?id='+[[${m.id}]]+'&close='+$("select[name=change_close]").val();
    		}
    		return false;
    	 });
     });      
               
/*]]>*/
</script>
<body style="background:#f3f3f3;">
	<div class="webPage">
    	<header class="header">
        	<a href="javascript:location.href = document.referrer" class="fl ml10"><img src="/newexcavator/assets/images/left.jpg" width="11" /></a>
            <a th:href="@{/mobile/per_list}" class="fl ml20"><img src="/newexcavator/assets/images/home.png" width="20" /></a>
            <h4>挖友圈</h4>
            <a th:href="@{/mobile/person}" class="fr mr10"><img src="/newexcavator/assets/images/header_r.png" width="20" /></a>
        </header>
        <section>
            <div class="place" style="background:#fff; margin-top:10px; border-top:2px solid #e6e6e6;">
            	<ul>
                    <li>我发布的招聘</li>
                </ul>
                <div class="clr"></div>
            </div>
            <div class="main">
            	<ul class="listMain">
            	 <li th:each="m,status:${ms}">
                    	<a th:href="@{'/mobile/per_detail?type=own&amp;id='+${m.id}}">
                        <div style="word-break:break-all;width:99%;"  class="listR1" >
                        	<span class="fl" th:text="${m.c_name}" style=" font-size:12px; line-height:20px;">东营市</span>
                        	<!--<span class="fl" style="color:#676573;">招聘</span> -->
                        	<span class="mr5" style="display:inline;color:#676573; font-size:12px;" th:text="${m.type_name+'_'+m.job}">挖掘机名称</span>
                                <span style=" font-size:12px;" class="price" th:text="${'￥'+m.salary}">15</span>
                                <div class="clr"></div>
                                <span class="mt10" th:text="${beans.dateFormatter.fromNowToDate(m.create_time)}" style="float:right; color:#999; font-size:12px;">8000</span>
                                <div class="clr"></div>
                            <div class="listAddr fr mt10">
                            	<span style=" font-size:12px;" th:text="${m.verify==2?'审核不通过':m.verify==1?'审核通过':'待审核'}">山东</span>
                                <span style=" font-size:12px;" th:if="${m.verify==1}" th:text="${m.close==2?'已完成':m.close==1?'关闭':'开启'}">东营市</span>
                            </div>
                        </div>
                        <div class="clr"></div>
                        </a>
                        <div class="mt20">
                        	<input th:if="${m.verify==1 and m.close!=2}" type="button" th:id="${'close_'+m.id+'_'+m.close}" class="closeBut" style="display:block; width:100px;padding:5px; margin:0 auto 10px; background:#3f97c9; color:#fff;  border-radius:5px; font-family:'微软雅黑'; font-size:12px;" th:value="${m.close==0?'关闭':'开启'}"/>
                        </div>
                    </li>
                </ul>
                <form id="searchForm" method="post" action="publicPerList">
                </form>
                <div class="page" th:if="${ms!=null and not #lists.isEmpty(ms)}" th:include="fragment/paginationbar :: paginationbar"></div>
            </div>
        </section>
        <footer>
        	<div class="copyRight">
            	&copy;2015 挖友圈版权信息
            </div>
            <div class="copyRight">
            	备案号:蜀ICP备13012136号-10
            </div>
            <div class="copyRight">
            	<script src="http://s95.cnzz.com/stat.php?id=1255170654&amp;web_id=1255170654" language="JavaScript"></script>
            </div>
        </footer>
    </div>
</body>
</html>
