<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="two_li" th:each="n,status:${news}" th:onclick="'location.href=\''+@{/mobile/detail_news(type=${type},id=${n.id})}+'\''">
		<div class="two_li_left">
			<img style="border-radius: 5px;" width="76" height="76" th:src="@{'/img/' + ${n.thumb_url}}" src="head_img/ftlw.jpg" />
		</div>
		<div class="two_li_right">
			<div class="two_right_top">
				<h3 style="color: #4F93E8;" th:text="${n.title}">最新消息列表</h3>
			</div>
			<div class="two_right_bottom">
				<a th:href="@{/mobile/detail_news(type=${type},id=${n.id})}">
					<img border="0" align="right" width="63" height="23" th:src="@{/assets/images/head_img/blue.jpg}" />
				</a>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</html>