<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<link rel="stylesheet" th:href="@{/assets/css/page.css}" />
<script type="text/javascript" th:inline="javascript">

	$(document).ready(function() {
		$(".click").click(function() {
			return confirm("是否确认删除？");
		});

		$("#checkAll").click(function() {
			var checked = $(this).prop("checked");
			$("input[name='id']").each(function() {
				$(this).prop("checked", checked);
			});
		});
		
		$("li[opt=delete]").click(function() {
			/*[+
			var url  = [[@{'/admin/del_user?'}]];
			+]*/
			var ids = $("input[name='id']").serialize();
			if (ids.length == 0) {
				alert("未选择删除项目！");
				return;
			}
			if (confirm("是否确认删除？")) {
				url += ids;
				window.location.href = url;
			}
		});
		
		$("li[opt=export]").click(function() {
			/*[+
			var url  = [[@{'/admin/export_user'}]];
			+]*/
			$("#searchform").attr("action", url);
			$("#searchform").submit();
		});
		
		$("#searchButton").click(function(){
			$("#searchForm").attr("action","list_user");
			$("#searchForm").submit();
		});
		
		$("#expButton").click(function(){
			$("#searchForm").attr("action","export_user");
			$("#searchForm").submit();
		});
		
	});
</script>
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>兑换管理 </li>
	    	<li>积分添加：</li>
	    </ul>
    </div>
    <div class="rightinfo">
    	<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
		<form th:action="@{/admin/commodity/add_point_list}" id="searchForm" method="post">
		<ul class="seachform">
			<li><label>客户姓名</label><input name="searchName" th:value="${searchName}" type="text" class="scinput" /></li>
			<li><label>联系电话</label><input name="searchPhone" th:value="${searchPhone}" type="text" class="scinput" /></li>
			<!-- <li><label>身份证号</label><input name="searchIDcard" th:value="${searchIDcard}" type="text" class="scinput" /></li> -->
   			<li><label>&nbsp;</label><input id="searchButton" name="searchButton" type="button" class="scbtn" value="查询"/></li>
   			<li><label>&nbsp;</label><input id="expButton" name="expButton" type="button" class="scbtn" value="导出"/></li>
    	</ul>
	    <div class="tools">
	    	<ul class="toolbar">
	    	<li><span></span><label th:text="${'共'+page.totalRecord+'人'}"></label></li>
	        </ul>
	    </div>
	    </form>
	    <div style="width: 800px;">
	    	<table class="tablelist">
	    		<thead>
		    	<tr>
			        <!-- <th width="40"><input id="checkAll" name="checkAll" type="checkbox"/></th> -->
			        <th width="80">编号<i class="sort"><img th:src="@{/assets/images/px.gif}" /></i></th>
			        <th width="100">姓名</th>
			        <th width="100">联系电话</th>
			        <!-- <th width="100">openid</th> -->
			        <th width="200">创建时间</th>
			        <th width="100">操作</th>
		        </tr>
	        	</thead>
		        <tbody>
		        <tr th:each="user,status:${users}">
			        <!-- <td><input name="id" type="checkbox" th:value="${user.id}" /></td> -->
			        <td th:text="${status.count}">编号</td>
			        <td th:text="${user.name}">姓名</td>
			        <td th:text="${user.cell_phone}">联系电话</td>
			        <!-- <td th:text="${user.openid}">联系电话</td> -->
			        <td th:text="${#dates.format(user.create_time, 'yyyy年MM月dd日  HH:mm')}">联系电话</td>
			        <td>
			        	<a th:href="@{'/admin/commodity/update_user_point?id=' + ${user.id}}" class="tablelink">修改积分</a>
			        </td>
		        </tr> 
		        </tbody>
	    	</table>
	    	<!-- <div class="paginate" th:if="${users!=null and not #lists.isEmpty(users)}" th:with="ps=${#httpServletRequest.getAttribute('pageSupport')}">
	        	<label style="margin-right: 10px;">共<i style="color:blue" th:text="${ps.getTotalRecord()}">11</i>条记录 </label>
	        	
	            <a th:href="@{/admin/list_user(page.offset=0,searchName=${searchName},searchIDcard=${searchIDcard},searchPhone=${searchPhone})}" class="paginate-first">首页</a>
	            <a th:href="@{/admin/list_user(page.offset=${ps.getPrevPage()},searchName=${searchName},searchIDcard=${searchIDcard},searchPhone=${searchPhone})}" class="paginate-previous">上一页</a>
	            <label th:text="${ps.getCurrentPage() + '/' + ps.getTotalPage() +'页'}">2/100页</label>
	            <a th:href="@{/admin/list_user(page.offset=${ps.getNextPage()},searchName=${searchName},searchIDcard=${searchIDcard},searchPhone=${searchPhone})}" class="paginate-next">下一页</a>
	            <a th:href="@{/admin/list_user(page.offset=${ps.getLastPage()},searchName=${searchName},searchIDcard=${searchIDcard},searchPhone=${searchPhone})}" class="paginate-last">末页</a>
		    </div> -->
		    <div class="page" th:if="${users!=null and not #lists.isEmpty(users)}" th:include="fragment/cppaginationbar :: paginationbar"></div>
    	</div>
    </div>
</body>
</html>