<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function() {
	$("#saveButton1").click(function() {
		var point = $("input[name=point]").val();
		if(point.length==0){
			alert("改变积分不可为空!");
			return;
		}
		var pointExp = /^\d+$/;
			if(!pointExp.test(point)){
				alert("积分必须为数字！");
				return;
			}
		$("input[name=flag]").val(1);
		$("#saveform").submit();
	});
	$("#saveButton2").click(function() {
		var point = $("input[name=point]").val();
		if(point.length==0){
			alert("改变积分不可为空!");
			return;
		}
		var pointExp = /^\d+$/;
		if(!pointExp.test(point)){
			alert("积分必须为数字！");
			return;
		}
		/*[+
		var c_point = [[${user.point}]];
		+]*/
		if(point > c_point){
			alert("减少积分不可大于已有积分!");
			return;
		}
		$("input[name=flag]").val(2);
		$("#saveform").submit();
	});
});
</script>
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>兑换管理 </li>
	    	<li>积分修改：</li>
	    </ul>
    </div>
    <div class="formbody">
    	<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
	    <form th:action="@{/admin/commodity/update_user_point_save}" id="saveform" method="post" enctype="multipart/form-data">
	    <ul class="forminfo">
		    <li>
		    	<label>姓名:</label>
		    	<label th:text="${user.name}"></label>
		    </li>
		    <li>
		    	<label>联系电话:</label>
		    	<label th:text="${user.cell_phone}"></label>
		    </li>
		    <li>
		    	<label>创建时间:</label>
		    	<label style="width:180px" th:text="${#dates.format(user.create_time, 'yyyy年MM月dd日  HH:mm')}" ></label>
		    </li>
		    <li>
		    	<label>当前积分:</label>
		    	<label th:text="${user.point}"></label>
		    </li>
		    <li>
		    	<label>增/减积分:</label>
		    	<input type="text"  name="point" class="dfinput" />
		    </li>
		   
		    <li>
		    	<label>&nbsp;</label>
		    	<input type="hidden" name="id" th:value="${user.id}" />
		    	<input type="hidden" name="flag"  />
		    	<input name="saveButton1" id="saveButton1" type="button" class="btn" value="增加"/>
		    	<input name="saveButton2" id="saveButton2" type="button" class="btn" value="减少"/>
		    </li>
	    </ul>
	    </form>
    </div>
</body>
</html>