<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <meta charset="UTF-8" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
  <script th:src="@{/assets/js/common.js}"></script>
  <script th:src="@{/assets/js/My97DatePicker/WdatePicker.js}" defer="defer"></script>
  <script th:src="@{/assets/js/ckeditor/ckeditor.js}"></script>
  <script th:src="@{/assets/js/ckeditor/adapters/jquery.js}"></script>
  <script th:src="@{/assets/js/select-ui.min.js}"></script>
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/select.css}" />
</head>
<body>
</body>

</html>