<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newexcavator.dao.CategoryDao">
    <select id="queryCategoryByModuleId" resultType="com.newexcavator.domain.Category">
		SELECT c.* FROM m_type_category mtc, category c 
		WHERE mtc.`cat_id` = c.`id` AND mtc.`mt_id` = #{moduleId};
	</select>
</mapper>