<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newexcavator.dao.CollectMachineDao">
	<insert id="saveCollectMachine" parameterType="com.newexcavator.domain.CollectMachine" useGeneratedKeys="true" keyProperty="id">
		insert into collectmachine (userid,m_id,createtime)
		values(#{userid},#{m_id},now())
	</insert>
	
	
	
	<delete id="deleteCollectMachine" parameterType="com.newexcavator.domain.CollectMachine" >
		delete from collectmachine where userid=#{userid} and m_id=#{m_id} 
	</delete>
	
	<select id="queryCollectMachineByUserid" resultMap="queryCollectMachineByUseridResult">
		select * from collectmachine where userid=#{userid}
		
		ORDER BY id DESC
		<if test="limit != null">
		LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>
	
	<select id="queryCollectMachineByUserid_count" resultType="java.lang.Integer">
		select count(1) from collectmachine where userid=#{userid}
	</select>
	
	<resultMap type="com.newexcavator.domain.CollectMachine" id="queryCollectMachineByUseridResult">
		<id column="id" property="id"/>
		<result column="userid" property="userid"/>
		<result column="m_id" property="m_id"/>
		<result column="createtime" property="createtime"/>

		<collection property="mi" select="queryMachineList" column="m_id"  ofType="com.newexcavator.domain.Machine"/>  
	</resultMap>
	
	<select id="queryMachineList" resultType="com.newexcavator.domain.Machine">
		SELECT m.id,m.used_time,m.verify,m.close,m.price,m.m_type,m.create_time,m.production_date,m.buy_date, t.name AS type_name,b.name AS brand_name,v.name AS version_name,c.name AS p_name,(SELECT name FROM city ci WHERE m.place_c=ci.id) AS c_name,mp.path AS cover_path FROM machine m,excavator_type t,brand b,version v,city c,machine_pic mp
		WHERE t.id=m.m_type AND b.id=m.brand AND v.id=m.version AND c.id=m.place_p AND mp.m_id=m.id AND mp.cover=1 AND m.deleted!=1 AND m.id=#{m_id} 
	</select>
	
	<select id="findByUseridAndMid" resultType="com.newexcavator.domain.CollectMachine">
		select * from collectmachine where userid=#{userid} and m_id=#{m_id} 
	</select>
	
	
</mapper>