<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
<title>意见反馈</title>
<link rel="stylesheet" th:href="@{/assets/css/js_css/grzy.css}" />
<link rel="stylesheet" th:href="@{/assets/css/js_css/htfb.css}" />
<script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
<script th:src="@{/assets/js/common.js}"></script>
</head>

<body>
<div class="g_top">
<div class="g_t_left"><img th:src="@{${user.head == null ? '/assets/images/vip.png' : user.head}}" width="64" height="64" /></div><div class="g_t_right" th:text="${user.name}">中文名字</div>
<div style="clear:both;"></div>
</div>
<form id="subform" class="formbody" action="feedback" method="post">
		<div class="h_title" style="margin-bottom:1px;">
			<textarea name="content"   placeholder="请输入您的反馈意见..." class="h_sInput"></textarea>
		</div>	

		<div class="h_content">
			<textarea id="contact" name="contact"   placeholder="请输入您的联系方式..." onkeyup="value=value.replace(/[^\d]/g,'') " class="h_sInputs"></textarea>
		</div>
		<div class="h_bottom">
			<font id="bton"  class="h_b_r" >提交</font>
			<font id="return"  class="h_b_l" >取消</font>
		</div>
	<div class="formtext" th:if="${msg!=null}">
						<b th:text="${msg==null?'':msg}"></b>
					</div>
</form>

<script>



$(function(){  
	$("#bton").click(function(){
		var content=$("textarea[name='content']").val();
		var contact=$("textarea[name='contact']").val();
		if(content=="" || contact==""){
			alert("联系方式和内容不可为空!");
			return;
		}

		if(!isPhoneNumber(contact)){
			alert("联系方式应该为数字");
			document.all.contact.focus();
			return;
		}
		$("#subform").submit();
	});
	
	
	
	
	$("#return").click(function(){  
    	window.location.href="personal_main";

	});  
}); 

</script>
</body>
</html>
