<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
<title>个人主页</title>
<link rel="stylesheet" th:href="@{/assets/css/js_css/grzy.css}" />
<script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
</head>

<body>
<div class="g_top">
<div class="g_t_left"><img th:src="@{${user.head == null ? '/assets/images/vip.png' : user.head}}" width="64" height="64" /></div><div class="g_t_right"  th:text="${user.name}">中文名字</div>
<div style="clear:both;"></div>
</div>
<div th:onClick="'javascript:window.open(\''+'topic_main?type=person'+'\',\'_self\')'" class="g_bottom" >
<div  class="g_b_l">我的话题</div><div class="g_b_r">&gt;</div>
<div style="clear:both;"></div>
</div>
<div th:onClick="'javascript:window.open(\''+'feedback\',\'_self\')'" class="g_bottom1">
<div class="g_b_l">反馈意见</div><div class="g_b_r">&gt;</div>
<div style="clear:both;"></div>
</div>

<div  class="ht_bottom" >
<div id="return" class="ht_bottom_re" style="cursor:pointer;">返回</div>
</div>

<script>
$(function(){  

	$("#return").click(function(){  
    	window.location.href="topic_main";

	});  
}); 

</script>
</body>
</html>
